_posts/AutoMapper/AutoMapperDemo/AutoMapperDemoTests/bin/
_posts/AutoMapper/AutoMapperDemo/AutoMapperDemo/bin/
_posts/AutoMapper/AutoMapperDemo/.vs/
_posts/AutoMapper/AutoMapperDemo/packages/
_posts/AutoMapper/AutoMapperDemo/AutoMapperDemoTests/obj/
_posts/AutoMapper/AutoMapperDemo/AutoMapperDemo/obj/
